<div class="card-header row">
 
  <label *ngIf="!isHeaderEdit" (click)="editHeader()" > {{panelData.name}}</label>
  <input *ngIf="isHeaderEdit" (blur)="isHeaderEdit=false" 
     type="text" 
      [(ngModel)]="panelData.name">
</div>

<div class="card-body"    >
  <app-base-card *ngFor="let cardData of panelData.availableCards " class="card bg-success" [cardData]=cardData
  dnd-draggable [dragEnabled]="true" [dragData]="cardData" (onDragSuccess)="dragSuccessHandler($event)"
                     [dropZones]="['demo1']"  
  ></app-base-card>
</div>