<div class="card-header row bg-warning">
    <div class="col-sm-10">
  <label *ngIf="!isHeaderEdit" (click)="editHeader()" > {{panelData.name}}</label>
  <input *ngIf="isHeaderEdit" (blur)="isHeaderEdit=false" 
     type="text" 
      [(ngModel)]="panelData.name">
  </div>
  <div class="col-sm-2">
      <i-trash-2 *ngIf="!panelData.isBase" (click)="deleteMe($event,panelData)"></i-trash-2>
    </div>
</div>

  <app-base-card *ngFor="let cardData of panelData.availableCards " class="card bg-info" [cardData]=cardData
  dnd-draggable [dragEnabled]="true" [dragData]="cardData" (onDragSuccess)="dragSuccessHandler($event)"
                     [dropZones]="['demo1']"  
  ></app-base-card>
