<div class="card-header">
  {{panelData.name}}
</div>
<!-- <div class="card-body">
  <h5 class="card-title">Special title treatment</h5>
  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div> -->
<div class="card-body">
  <app-base-card *ngFor="let cardData of panelData.availableCards" class="card bg-success" [cardData]=cardData
  dnd-draggable [dragEnabled]="true" [dragData]="cardData" (onDragSuccess)="dragSuccessHandler($event)"
                     [dropZones]="['demo1']"
  ></app-base-card>
</div>
