<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->

<!-- <app-simple-dnd></app-simple-dnd> -->
<div class="card-header">
  Drag and Drop Cards to Preview Panel.
</div>
<div class="row">
  <app-base-panel class="card bg-info col-sm-3" [panelData]="basePanelData"></app-base-panel>

  <app-base-panel *ngFor="let panelData of resultConfig" class="card bg-info col-sm-3" [panelData]="panelData" dnd-droppable
    (onDropSuccess)="updatePreviewPanel($event,panelData)" [dropZones]="['demo1']"></app-base-panel>
  <!-- <app-base-panel  class="card bg-warning col-sm-3" [panelData]="resultPanel"
 

  dnd-droppable (onDropSuccess)="updatePreviewPanel($event)" [dropZones]="['demo1']"

  ></app-base-panel> -->
</div>
<div class="row card-body">
  <span>&nbsp;</span>
  <button class="btn btn-primary" (click)="createPanel()">Create Panel</button>
  <span>&nbsp;</span>

  <button class="btn btn-primary" (click)="showConfig()">Save Your Design</button>

  <!-- dnd-sortable-container [sortableData]="resultPanel.availableCards"     -->
</div>